*{
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.options {
    height: 60px;
    width: 100%;
    min-height: 50px;
    padding: 6px;
}

.logoContainer {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 50px; 
}

.optionsSec {
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}

.optTxt {
    margin: 5px;
}

.appBttn {
    background-color: white;
    border-style: none;
    cursor: pointer;
    margin: 10px;
}

#logInBttn {
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:dodgerblue;
    color: white;
    margin: 5px;
    border-radius: 3px;  
}

.breakDiv {
    display: flex;

}

.searchSec {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    flex-direction: column;
}

.searchBar {
    background-color: white;
    height: 45px;
    width: 600px;
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    border: 1px solid lightgrey;
    padding: 6px;
}

#sBar {  
    height: 30px;
    width: 90%;
    border-width: 0;
    font-size: 1em;
    margin-left: 10px;
}
#sBar:focus {
    outline: none;
}

#lupaImg {
    margin: 6px;
    max-height: 18px;
}

.searchBttns {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
}

.sBttn {
    display: flex;
    margin: 20px;
    width: fit-content;
    padding: 10px;
    height: 35px;
    background-color:whitesmoke;
    border-radius: 3px; 
}

.footer {
   display: flex;
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(248, 248, 248);
}

.footerAnch {
    font-size: small;
    margin: 10px;
}